<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <connectionStrings>
    <add name="TransactionTest" providerName="System.Data.SqlClient" connectionString="server=.\sql2012;database=TransactionTest;Integrated Security = true;"/>
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />

    
  <httpHandlers>
      <add verb="*" type="Nancy.Hosting.Aspnet.NancyHttpRequestHandler" path="*" />
    </httpHandlers>
  </system.web>

  <system.webServer>
    
    <httpErrors existingResponse="PassThrough" />
    
  <validation validateIntegratedModeConfiguration="false" /><handlers>
      <add name="Nancy" verb="*" type="Nancy.Hosting.Aspnet.NancyHttpRequestHandler" path="*" />
    </handlers></system.webServer>
</configuration>
